:root {
  --primary-color: #382d5e;
  --secondary-color: #5ec997;
  --text-primary-color: #314584;
  --text-secondary-color: #232d4f;
  --main-background-color: #e3e3e3;
  --white-color: #fff;
  --border-radius: 3px;
  --skew: skew(-5deg);
  --transition: .3s;
  --box-shadow: 0 4px 10px rgba(0,0,0,.2);
  --button-box-shadow: 0 3px 3px rgba(56,45,94,1);
}